* {
  margin: 0;
  padding: 0;
  outline: solid 1px red;
}

body {
  font-family: "Roboto Mono", sans-serif;
  color: white;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  display: grid;
  grid-template-columns: 1.5vw repeat(4, 1fr 2vw);
  grid-template-rows: 3vh 13vh 3vh 7vh 3vh repeat(2, 25vh 3vh) 7vh 3vh repeat(4, 25vh 3vh) 12vh 3vh;
  grid-template-areas: "l_border t_border t_border t_border t_border t_border t_border t_border r_border"
                       "l_border top top top top top top top r_border"
                       "l_border gap gap gap gap gap gap gap r_border"
                       "l_border title1 title1 title1 title1 title1 title1 title1 r_border"
                       "l_border gap2 gap2 gap2 gap2 gap2 gap2 gap2 r_border"
                       "l_border enph1 enph1 enph1 event enph2 enph2 enph2 r_border"
                       "l_border enph1 enph1 enph1 event enph2 enph2 enph2 r_border"
                       "l_border enph1 enph1 enph1 event enph2 enph2 enph2 r_border"
                       "l_border gap3 gap3 gap3 gap3 gap3 gap3 gap3 r_border"
                       "l_border title2 title2 title2 title2 title2 title2 title2 r_border"
                       "l_border gap4 gap4 gap4 gap4 gap4 gap4 gap4 r_border"
                       "l_border event1 event1 event1 gap5 event2 event2 event2 r_border"
                       "l_border gap6 gap6 gap6 gap6 event2 event2 event2 r_border"
                       "l_border event3 event3 event3 gap11 event2 event2 event2 r_border"
                       "l_border gap10 gap10 gap10 gap10 gap10 gap10 gap10 r_border"
                       "l_border event4 gap7 event5 gap9 event7 event7 event7 r_border"
                       "l_border event4 gap7 gap8 gap9 event7 event7 event7 r_border"
                       "l_border event4 gap7 event6 gap9 event7 event7 event7 r_border"
                       "l_border gap12 gap12 gap12 gap12 gap12 gap12 gap12 r_border"
                       "l_border bot bot bot bot bot bot bot r_border"
                       "l_border b_border b_border b_border b_border b_border b_border b_border r_border";
}

.top_nav {
  grid-area: top;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #FF7272;
}

.logo {
  margin: 2vh 0 0 2vh;
}

.bot_nav {
  grid-area: bot;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #FF7272;
}

.si_logo, .social, .news {
  font-family: "Roboto Mono", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: white;
  margin: 1.5vh;
}

.enph1 {
  grid-area: enph1;
  background-color: #AAAAAA;
}
.enph2 {
  grid-area: enph2;
  background-color: #AAAAAA;
}.enph1:hover {
  cursor: pointer;
  background-color: #f6bf6b;
}
.enph2:hover {
  cursor: pointer;
  background-color: #f6bf6b;
}

.enphasis {
  background-color: #f6bf6b;
  grid-area: title1;
  display: flex;
  align-items: center;
}

.coming {
  background-color: #f6bf6b;
  grid-area: title2;
  display: flex;
  align-items: center;
}

.title {
  font-size: 24px;
  margin: 0 0 0 2vw;
}

.event1 {
  grid-area: event1;
  background-color: #AAAAAA;
}
.event2 {
  grid-area: event2;
  background-color: #AAAAAA;
}
.event3 {
  grid-area: event3;
  background-color: #AAAAAA;
}
.event4 {
  grid-area: event4;
  background-color: #AAAAAA;
}
.event5 {
  grid-area: event5;
  background-color: #AAAAAA;
}
.event6 {
  grid-area: event6;
  background-color: #AAAAAA;
}
.event7 {
  grid-area: event7;
  background-color: #AAAAAA;
}
.event1:hover {
  cursor: pointer;
  background-color: #f6bf6b;
}
.event2:hover {
  cursor: pointer;
  background-color: #f6bf6b;
}
.event3:hover {
  cursor: pointer;
  background-color: #f6bf6b;
}
.event4:hover {
  cursor: pointer;
  background-color: #f6bf6b;
}
.event5:hover {
  cursor: pointer;
  background-color: #f6bf6b;
}
.event6:hover {
  cursor: pointer;
  background-color: #f6bf6b;
}
.event7:hover {
  cursor: pointer;
  background-color: #f6bf6b;
}
